.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 50px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .container-header .navbar .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none; }
    .container-header .navbar .navbar__list .navbar__item:not(:last-child) {
      margin: 0 20px 0 0; }
    .container-header .navbar .navbar__list .navbar__item .navbar__link {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 12px;
      position: relative; }
      .container-header .navbar .navbar__list .navbar__item .navbar__link:hover {
        color: #00acdc; }
    .container-header .navbar .navbar__list .navbar__item .is-active {
      color: #00acdc; }
      .container-header .navbar .navbar__list .navbar__item .is-active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #00acdc;
        border-radius: 2px;
        left: 0;
        top: 32px; }

.main-content .main-content__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto 78px;
  width: 944px; }

.cards {
  width: 200px;
  padding: 30px 15px 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 48px; }
  .cards:nth-child(4) {
    margin-right: 0; }
  .cards:nth-child(8) {
    margin-right: 0; }
  .cards .card__logo {
    display: block;
    width: 160px;
    margin: 0 auto; }
  .cards .card__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 45px; }
  .cards .card__code {
    padding-top: 6px;
    font-size: 11px;
    line-height: 13px; }
  .cards .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 15px; }
    .cards .rating .rating__stars {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .cards .rating .rating__stars .rating__stars--active {
        background-image: url(../images/star-active.svg);
        width: 15px;
        height: 15px;
        margin-right: 4px;
        background-repeat: no-repeat;
        background-position: center; }
      .cards .rating .rating__stars .rating__stars--grey {
        background-image: url(../images/star.svg);
        margin-right: 4px;
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 15px; }
    .cards .rating .rating__feedbacks {
      font-size: 11px;
      line-height: 13px; }
  .cards .price-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .cards .price-section .price-section__left {
      font-size: 11px;
      line-height: 13px; }
    .cards .price-section .price-section__right {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      padding-top: 21px; }
  .cards .card__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    height: 40px;
    margin-top: 20px;
    background: #00acdc;
    border-radius: 5px;
    text-decoration: none;
    color: #fff; }
    .cards .card__btn .card__btn--buy {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase; }
    .cards .card__btn:hover {
      background: #fff;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 1px solid #00acdc;
      border-radius: 5px;
      color: #00acdc; }

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 1024px;
  color: black;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal; }

p,
h2 {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
